<div class="mdl-grid">
  <h2>Rental History for {{model.year}} {{model.manufacturer}} {{model.modelName}}</h2>
</div>

<div class="mdl-grid">
  <table class="inventory-list mdl-cell mdl-cell--12-col mdl-data-table mdl-shadow--2dp">

    <tr>
      <td class="mdl-data-table__cell--non-numeric">Total Supply</td>
      <td class="inventory-total-supply">{{ model.totalInventory }}</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Available For Rent</td>
      <td class="inventory-available-supply">{{ model.currentlyAvailable }}</td>
    </tr>
  </table>
</div>

<div class="mdl-grid arrange-right">
  {{mdl-button class="quick-rent-btn" text="Rent" isRaised=true isAccent=true on-click=(route-action "quickRent")}}
</div>

<div class="mdl-grid">
  <table class="inventory-list mdl-cell mdl-cell--12-col mdl-data-table mdl-shadow--2dp">
    <tbody>
      {{#each model.history as |rental|}}
        {{#unless rental.checkIn}}
          <tr class="inventory-active-rental-item">
            <td class="mdl-data-table__cell--non-numeric">
              <span class="rental-out-date">{{rental.checkOut}}</span>
            </td>
            <td class="return-right">
              {{mdl-button class="quick-return" text="Return" isRaised=true on-click=(route-action "quickReturn" rental)}}
            </td>
          </tr>
        {{/unless}}
      {{/each}}
    </tbody>
  </table>
</div>
